* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #00ffff;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: pink;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.botones {
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.tetris {
  border-collapse: collapse;
  display: flex;
}

h1 {
  background-color: #ff0000;
}

#tetris {
  text-align: center;
  background-color: #ffff00;
}

.tetris tr td {
  width: 40px;
  height: 40px;
}
.celda0 {
  background-color: #000000;
}
.celda1 {
  background-color: #0000ff;
}
.celda2 {
  background-color: #ff0000;
}
.celda3 {
  background-color: #00ff00;
}
.celda4 {
  background-color: #ffff00;
}
.celda5 {
  background-color: #00ffff;
}
.celda6 {
  background-color: #ff00ff;
}
.celda7 {
  background-color: #888888;
}
