* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgba(238, 226, 226, 0.959);
  flex-direction: column;
  align-items: center;
}

#canvas {
  border: solid 0.2em #fff;
  z-index: -100;
  background-color: rgb(0, 255, 85);
  position: absolute;
}

.container {
  padding: 20px;
  display: flex;
  gap: 20px;
  background-color: #ff002b;
  border-radius: 20px;
  width: 40%;
}

.botones {
  width: 100px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 22%;
}
.container .buttoes:hover {
  background-color: rgb(251, 253, 255);
}

.botones .b1 {
  width: 95%;
  height: 80px;
  border-radius: 50px;
  background-color: #0697f7;
  box-shadow: 2px 2px 1px 0.5px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.botones .b2 {
  width: 95%;
  height: 80px;
  border-radius: 50px;
  background-color: #0697f7;
  box-shadow: 2px 2px 1px 0.5px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.botones .b3 {
  width: 95%;
  height: 80px;
  border-radius: 50px;
  background-color: #0697f7;
  box-shadow: 2px 2px 1px 0.5px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.botones .b4 {
  width: 95%;
  height: 80px;
  border-radius: 50px;
  background-color: #0697f7;
  box-shadow: 2px 2px 1px 0.5px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

br {
  font-weight: 900;
  display: flex;
}
.tetris {
  border-collapse: collapse;
  display: flex;
}

#tetris {
  text-align: center;
  background-color: #ffff00;
  border-radius: 20px;
}

.tetris tr td {
  width: 40px;
  height: 40px;
}
.celda0 {
  background-color: #000000;
  border-radius: 30%;
}
.celda1 {
  background-color: #0000ff; /* T */
}
.celda2 {
  background-color: #ff0000; /* L */
}
.celda3 {
  background-color: #00ff00; /* L < */
}
.celda4 {
  background-color: #ffff00; /* LINE */
}
.celda5 {
  background-color: #00ffff; /* Z */
}
.celda6 {
  background-color: #ff00ff; /* Z */
}
.celda7 {
  background-color: #d8700e; /* SQUARE */
}
